<div class="filter-container">
  <span>Filter: </span>

  <ion-radio-group (ion-change)="onSelectedFilterRadioButtonChanged()">
    <ion-radio type="radio" labelPlacement="end" value="all" [(ngModel)]="selectedFilterRadioButton">
      {{"All ("+all+")"}}
    </ion-radio>

    <ion-radio type="radio" labelPlacement="end" value="true" [(ngModel)]="selectedFilterRadioButton">
      {{"In Stock ("+inStock+")"}}
    </ion-radio>

    <ion-radio type="radio" labelPlacement="end" value="false" [(ngModel)]="selectedFilterRadioButton">
      {{"Out Of Stock ("+outOfStock+")"}}
    </ion-radio>
  </ion-radio-group>
</div>