<div class="filter-container">
  <span>Filter: </span>

  <ion-radio-group>
    <ion-radio type="radio" labelPlacement="end" name="filter" value="all" [(ngModel)]="selectedFilterRadioButton"
      (change)="onSelectedFilterRadioButtonChanged()">
      {{"All ("+all+")"}}
    </ion-radio>

    <ion-radio type="radio" labelPlacement="end" name="filter" value="true" [(ngModel)]="selectedFilterRadioButton"
      (change)="onSelectedFilterRadioButtonChanged()">
      {{"In Stock ("+inStock+")"}}
    </ion-radio>

    <ion-radio type="radio" labelPlacement="end" name="filter" value="false" [(ngModel)]="selectedFilterRadioButton"
      (change)="onSelectedFilterRadioButtonChanged()">
      {{"Out Of Stock ("+outOfStock+")"}}
    </ion-radio>
  </ion-radio-group>
</div>