<div class="header">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="2" class="ion-text-center">
        <div class="ekart-logo">
          eKart
        </div>
      </ion-col>
      <ion-col size="5" class="ion-text-center">
        <div class="ekart-menu">
          @for(menu of mainMenuItems;track $index){
          <ion-button fill="clear" color="dark" [routerLink]="menu.path">{{menu.title}}</ion-button>
          }
        </div>
      </ion-col>
      <ion-col size="5" class="ion-text-center">
        <div class="ekart-submenu">
          @for (topMenu of topMenus; track $index) {
          <ion-button fill="clear" color="dark" [routerLink]="topMenu.path">{{topMenu.title}}</ion-button>
          }
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<div class="mobile-header">
  <ion-menu contentId="main-content">
    <ion-content class="ion-padding">
      @for(menu of mainMenuItems;track $index){
      <ion-button fill="clear" color="dark" [routerLink]="menu.path">{{menu.title}}</ion-button>
      }
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>

      </ion-toolbar>
    </ion-header>
  </div>
</div>