.ekart--top-header {
    background-color: #28282B;
    text-align: center;
    color: white;
    padding: 15px 0 !important;
    font-size: 12px;
    font-weight: bold;

    p {
        margin: 0;
    }
}