.ekart--search--product {
    margin: 20px auto;
}

.input-and-button {
    display: flex;
    padding: 0 10%;
    justify-content: center !important;
}

.btn {
    padding: 5px 10px;
    border: none;
}


.ekart-search-result-for {
    margin: 20px auto;
    padding: 10px 140px;
}